html, body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

:root {
  --primary: black;
  --secondary: white;
  --accent: red;
  
  --font-medium: 1.5rem;
  --font-large: 2rem;
  --font-xlarge: 3rem;
}

a {
  display: block;
  text-decoration: none;
  color: var(--secondary);
}

#navbar {
  z-index: 5;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  right: 1rem;
  height: 3rem;
  padding: 0 0.3rem;
  background-color: var(--accent);
}

#navbar > a {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #3a3d40;
  background: linear-gradient(0deg, #111517 20%, rgb(90, 90, 90));
  color: var(--secondary);
  text-align: center;
}

#intro > h1 {
  margin: 0.2rem 0.2rem 2rem 0.2rem;
  font-size: var(--font-xlarge);
}

#intro > h2 {
  width: 70%;
  margin: 2.5rem 0.1rem 0.1rem 0.1rem;
  font-size: var(--font-large);
  font-weight: 600;
  text-align: center;
  color: var(--secondary);
}

#intro > p {
  width: 60%;
  margin: 0.1rem;
  font-size: var(--font-medium);
  font-weight: 400;
  text-align: center;
}

#my-description + p {
  margin-top: 1rem;
}

#skills {
  padding: 0.2rem 2rem;
  margin: 0.5rem 0.5rem 1rem;
  border: 1px solid var(--accent);
  font-size: var(--font-medium);
  font-weight: 400;
}

#skills > li {
  display: inline;
}

#skills > li:after {
  content: ", ";
}

#skills > li:last-child::after {
  content: "";
}

#projects {
  text-align: center;
  padding: 0.1rem 2rem;
  background: var(--secondary);
  color: var(--primary);
}

#projects > h2 {
  margin-top: 3rem;
  font-size: 2rem;
}

#project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 4rem;
  max-width: 1280px;
  margin: 3rem auto 5rem auto;
  justify-items: center;
}

.project-card {
  width: 400px;
  height: 350px;
  background: #303841;
  border: 3px solid rgba(0,0,0,1);
  /* box-shadow: 0px 0px 5px 1px black; */
  font-size: var(--font-medium);
  font-weight: 600;
  color: var(--secondary);
}

.project-card:hover {
  transform: scale(1.1);
  filter: brightness(80%);
}

.project-card > img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  display: block;
}

.project-card > p {
  margin: 0;
  padding: 0.8rem 0.5rem;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111517;
  color: var(--secondary);
  font-size: 1.9rem;
}

#contact > a {
  margin: 5rem 2rem;
}

#contact > a:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
  width: 650px;
  min-height: 450px;
  background: var(--secondary);
  border-radius: 0.5%;
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 11;
  text-align: center;
  animation-name: zoom;
  animation-duration: 0.3s;
}

.modal > p {
  padding: 0 1rem;
}

#screenshots {
  position: relative;
  width: 100%;
  min-height: 200px;
  margin-top: 2rem;
}

.slide {
  display: none;
  background: grey;
  object-fit: cover;
  width: 100%;
  max-height: 500px;
}

#screenshots > button {
  position: absolute;
  top: calc(50% - 2rem);
  padding: 1rem 0.8rem;
  font-size: 1.5rem;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

#overlay{
  display: none;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 10;
  opacity:0.6;
  background: black;
}

@keyframes zoom {
  from {transform: scale(0.6) translate(-50%, -50%);;} 
  to {transform:scale(1) translate(-50%, -50%);}
}

@media (max-width: 750px) {

  #intro > p {
    width: 80%;
  }

  #project-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
  }

  .project-card {
    width: 300px;
    height: 225px;
  }

  .link-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  :root {
    --font-medium: 0.7rem;
    --font-large: 1.5rem;
    --font-xlarge: 2.7rem;
  }
}